* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

.page-content {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url('./../images/Audience-1-1080x675.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button-group {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.button {
   
    width: 6.5vw;
    text-transform: uppercase;
    text-align: center;
    border: 5px solid rgba(0, 0, 0, 0.747);
    border-radius: 6px;
    background-color: #00000091;
    color: #ffffffd6;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
}

.button div:nth-child(1) {
    padding-top: 10px;
}

.button div:nth-child(2) {
    font-size: .9vw;
    color: rgba(255, 217, 0, 0.87);
    padding-bottom: 10px;
}

.button--active {
    border-color: rgba(255, 217, 0, 0.87);
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 217, 0, 0.87);
}

